.contentinteractiveitem_layout {
  font-family: Poppins-Regular;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  .contentinteractiveitem_body {
    padding: 40px 30px;
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .video {
      background-color: red;
    }
    .title {
      font-size: 18px;
      font-weight: 900;
      padding: 22px 0;
    }
    .content-button {
      height: 270px;
      .content {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin: 18px 0;
        line-height: 36px;
      }
      .button {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contentinteractiveitem_layout {
    .contentinteractiveitem_body {
      .video {
      }
      .title {
      }
      .content-button {
        .content {
        }
        .button {
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .contentinteractiveitem_layout {
    .contentinteractiveitem_body {
      .video {
      }
      .title {
      }
      .content-button {
        .content {
        }
        .button {
        }
      }
    }
  }
}
