.bodymanage_layout {
  .bodymanage_table {
    width: 100%;
    .grid {
      .MuiDataGrid-iconButtonContainer {
        display: none;
      }
      .MuiDataGrid-menuIcon {
        display: none;
      }
      .MuiDataGrid-virtualScrollerRenderZone {
        width: 100%;
      }
      .MuiDataGrid-columnHeader {
        .MuiDataGrid-columnHeaderTitleContainer {
          display: flex;
          justify-content: center;
          .MuiDataGrid-columnHeaderTitle {
            font-weight: 700;
          }
        }
      }
      .MuiDataGrid-cell {
        display: flex;
        justify-content: center;
        .MuiBox-root {
          display: flex;
          justify-content: center;
          gap: 24px;
        }
      }
      .MuiDataGrid-cell--withRenderer {
        align-items: center;
        display: flex;
        justify-content: center;
      }
      .MuiDataGrid-toolbarContainer {
        .MuiButtonBase-root,
        input::placeholder {
          font-size: 15px;
          font-family: Poppins-Regular;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bodymanage_layout {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .bodymanage_layout {
    margin-left: 0;
    .bodymanage_table {
      .grid {
        .MuiFormControl-root {
          padding-left: 10px;
        }
        .MuiDataGrid-row {
          width: 100%;
          .MuiDataGrid-cell--withRenderer {
          }
        }
        // .MuiDataGrid-columnHeaderCheckbox {
        //   display: none;
        // }
        // .MuiDataGrid-cellCheckbox {
        //   display: none;
        // }
        .MuiDataGrid-columnHeader {
          .MuiDataGrid-columnHeaderTitleContainer {
            .MuiDataGrid-columnHeaderTitle {
              font-size: 10px;
            }
          }
        }

        .MuiDataGrid-cell {
          .MuiDataGrid-cellContent {
            font-size: 10px;
          }
          .MuiBox-root {
            display: flex;
            justify-content: center;
            gap: 10px;
          }
        }

        .MuiDataGrid-toolbarContainer {
          .MuiButtonBase-root,
          input::placeholder {
            font-size: 10px;
          }
        }
        font-size: 9px;
        font-family: Poppins-Regular;
        .css-i4bv87-MuiSvgIcon-root {
          width: 10px;
          height: 10px;
        }
        .css-1vooibu-MuiSvgIcon-root {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
