.contentlandingitem_container {
  display: flex;

  padding: 0 8%;
  font-family: Poppins-Regular;

  .contentlandingitem_item {
  }
  .contentlandingitem_item1 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
    .title {
      font-weight: 700;
      font-size: 24px;
    }
    .content {
      text-align: justify;
      line-height: 30px;
    }
  }
  .contentlandingitem_item2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.contentlandingitem_container-reserve {
  flex-direction: row-reverse;
  .contentlandingitem_item2-reserve {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 1023px) {
  .contentlandingitem_container,
  .contentlandingitem_container-reserve {
    padding: 0 30px;
    flex-direction: column-reverse;
    .contentlandingitem_item2,
    .contentlandingitem_item2-reserve {
      justify-content: center;
    }
  }
}
